<% if current_user.id==@recipe.user_id %>
<h3>Изменить рецепт</h3>
<%= form_for( :recipe, url: recipe_path(@recipe), method: :patch) do |f| %>
  <% @f=f %>

  <%= render 'edit_new' %>
  <p>
    <%= f.submit('Запомнить', {:class => 'btn btn-warning'}) %>
    <%= link_to 'Отмена', recipes_path %>
  </p>
<% end %>
<%= form_with model: [ @recipe, @recipe.ingrs.build ] do |form| %>

  <p>
    <%= form.label :name %>
    <%= form.text_field :name_in %>
    <%= form.label :quantity %>
    <%= form.text_field :amount_in %>
    <%
      system_id=Country.find(current_user.country_id).system_id

    %>
    <%= form.collection_select(:enum_id, Enum.where("system_id = ? or system_id=?", system_id, 10), :id, :short, prompt: false) %>
  </p>
  <p>
    <%= form.submit("Добавить")%>
  </p>
<% end %>
  <% else %>
  <h3>Вы не можете редактировать эту страницу</h3>
<% end %>