<h4>Рецепт</h4>
<h5><%= @recipe.name %></h5>
<p><%= @recipe.body %></p>
<br>
<p>
  <%= link_to 'Редактировать', edit_recipe_path(@recipe), :class=>'btn btn-warning' %>
  <%= link_to 'Удалить', recipe_path(@recipe), method: :delete, data: {confirm: "Удалить?"}, :class=>'btn btn-danger' %>
  <%= link_to 'Отмена', recipes_path, :class => 'btn btn-outline-primary'  %>
</p>
<h2>Ingredients</h2>
<% @recipe.ingrs.each do |i| %>
  <p>
    <%
      @s=current_user.country_id
      @c=Country.find_by(id: @s).system_id
      @r=User.find_by(id: @recipe.user_id).country_id
      @rr=Country.find_by(id: @r).system_id
      @e = i.enum.id
      @i=Enum.find_by(system_id: @c).id
      if (@c!=@rr)
        @en=EnumConvert.find_by(enum_from: @e, enum_to: @i).enum_to.name
        @amount=EnumConvert.find_by(enum_from: @e, enum_to: @i).ratio

    else
    @en=i.enum.name
    @amount=1
    end
     %>
    <%= i.name_in %>
    <%= i.amount_in*@amount %>
    <%= @en %>
  </p>
<% end %>
<h2>Comments</h2>
<% @recipe.comments.each do |comment| %>
  <p>
    <strong>User:</strong>
    <%= comment.user.email %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= comment.body %>
  </p>
<% end %>
<h2>Add a comment:</h2>
<%= form_with model: [ @recipe, @recipe.comments.build ] do |form| %>
  <%= form.hidden_field :user_id, :value=>current_user.id %>
  <p>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>
