<h2><%= @recipe.name %></h2>
<hr>
<h2>Ingredients</h2>

  <p>

      <% @recipe.ingrs.each do |i| %>
    <p>
      <%
        system_to_id = Country.find(current_user.country_id).system_id
        value, enum_name, cvts  = EnumConvert.do_convert i.enum, system_to_id, i.amount_in
      %>
      <%= i.name_in %>
      <%= number_with_precision(value, :precision => 1) %>
      <%= enum_name %>
    </p>
  <% end %>


  </p>
<hr>
<p><%= @recipe.body %></p>

<p>
  <% if current_user.id==@recipe.user_id %>
    <hr>
    <%= link_to 'Редактировать', edit_recipe_path(@recipe), :class => "btn btn-outline-warning" %>

    <%= link_to 'Удалить', recipe_path(@recipe), method: :delete, data: {confirm: "Удалить?"}, :class => "btn btn-outline-danger" %>

    <%= link_to 'Отмена', recipes_path, :class => "btn btn-outline-secondary" %>
  <% end %>
</p>
<hr>
<h2><i class="fa fa-comments"></i>Comments</h2>
<% @recipe.comments.each do |comment| %>
  <p>
    <strong>User:</strong>
    <%= comment.user.email %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= comment.body %>
  </p>
<% end %>
<h2>Add a comment:</h2>
<%= form_with model: [ @recipe, @recipe.comments.build ] do |form| %>
  <%= form.hidden_field :user_id, :value=>current_user.id %>
  <p>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
  </p>
  <p>
    <%= form.submit :class => "btn btn-outline-success" %>
  </p>
<% end %>
