<!DOCTYPE html>
<html>
  <head>
    <title>Hello</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag  'http://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
      <h2 class="my-0 mr-md-auto font-weight-bold">Recipe_site</h2>

      <% if user_signed_in? %>
      <nav class="my-2 my-md-0 mr-md-3">
        <span class="text-dark"><%= link_to "Главная", home_path, :class => "btn btn-outline-info"%></span>
        <span class="text-dark"><%= link_to "Добавить", new_recipe_path, :class => "btn btn-outline-info" %></span>
      </nav>
<% end %>
        <% if user_signed_in? %>
    <span>Здравствуйте, <%= current_user.name %></span>
          <%= link_to 'Выйти', destroy_user_session_path, :method => :delete %>
<% else %>
    <%= link_to 'Войти', new_user_session_path %> или <%= link_to 'Зарегистрироваться', new_user_registration_path %>
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
<% end %>

    </div>
    <div class="container">
      <%= yield %>
    </div>
  </body>

</html>
